---
import type { Overview, SocialMedia } from "../types";
import { Image } from 'astro:assets';
import Indicator from "./Indicator.astro";

type Props = Overview & {
  socialMedia: SocialMedia
}

const { parameter, today, percentage, socialMedia } = Astro.props

const formattedToday = today.toString().length >= 5 ? today.toString().slice(0, 2) + 'k' : today  
const imagePath = '/src/assets/images/' + socialMedia.icon
const altText = `${socialMedia.name} icon`

const images = import.meta.glob<{ default: ImageMetadata }>('/src/assets/images/*.{jpeg,jpg,png,gif,svg}')
if (!images[imagePath]) throw new Error(`"${imagePath}" does not exist in glob: "/src/assets/images/*.{jpeg,jpg,png,gif}"`)
---

<article class="flex flex-col gap-y-4 p-6 rounded-md bg-neutral-light-theme-light-grayish-blue-card-bg cursor-pointer transition-all hover:scale-105 hover:bg-[#e1e4f0] dark:bg-neutral-dark-theme-dark-desaturated-blue-card-bg dark:hover:bg-[#333a56]">
  <section class="flex justify-between items-start">
    <h5 class="font-semibold text-sm text-neutral-light-theme-dark-grayish-blue-text dark:text-neutral-dark-theme-desaturated-blue-text">{parameter}</h5>
    <Image 
      src={images[imagePath]()} 
      alt={altText} 
    />
  </section>
  <section class="flex justify-between items-end">
    <span class="font-bold text-3xl dark:text-white">{formattedToday}</span>
    <Indicator 
      num={percentage} 
      altText='%' 
    />
  </section>
</article>
